<launch>
    <node pkg="perception" type="yolo_detection_node.py" name="YOLO_detector" output="screen">
        <param name="model_weights" value="$(find perception)/config/epoch_024.pt"/>
    </node>
    <!-- <node pkg="pe/rception" type="detection_projector_node.py" name="Detection_Projector" output="screen"/> -->
</launch>