<launch>
    <arg name="experiment_config" default=""/>
    <!-- <include file="$(find fetch_actions)/launch/main.launch"/> -->
    <!--<include file="$(find grasploc_wrapper)/launch/grasploc_node.launch"/> -->
    <!-- <include file="$(find perception)/launch/yolo_detector.launch"/> -->
    <include file="$(find semantic_frame_mapping)/launch/semantic_frame_mapping.launch">
        <arg name="experiment_config" value="$(arg experiment_config)"/>
    </include>
    <!-- RVIZ -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/cuhsailus/Desktop/Research/22_academic_year/fetch_sfm_ws/rviz_configs/make_jello.rviz" output="log"/>

</launch>
