<launch>
    <arg name="map_file" default="/home/cuhsailus/Desktop/Research/Spring_22/fetch_sfm_ws/maps/lab062122.yaml"/>
    <arg name="record_bag" default="true"/>
    <arg name="experiment_title" default="test"/>
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <!-- Record a bag -->
    <!-- <node if="$(arg record_bag)" 
        pkg="rosbag" 
        type="record" 
        name="rosbag_record_node" 
        args="record -o /home/cuhsailus/Desktop/Research/Spring_22/fetch_sfm_ws/$(arg experiment_title)
            /map
            /filter/particles/grasp_bottle
            /filter/particles/grasp_spoon
            /filter/particles/stir_bowl
            /filter/gauss/grasp_bottle 
            /filter/gauss/grasp_spoon
            /filter/gauss/stir_bowl
            /filter/static_object/bottle
            /filter/static_object/spoon"
        output="screen"
    /> -->


    <include file="$(find semantic_frame_mapping)/launch/semantic_frame_mapping.launch"/>

</launch>