<launch>
    <arg name="map_file" default="$(find aws_robomaker_small_house_world)/maps/small_house.yaml"/>
    <arg name="record_bag" default="false"/>
    <arg name="experiment_title" default="test"/>
    <arg name="robot" default="fetch"/>
    <arg name="gui" default="false"/>
    <arg name="experiment_config" default="$(find semantic_frame_mapping)/config/experiment_1.yaml"/>

    <!-- Run the map server -->
    <include file="$(find aws_robomaker_small_house_world)/launch/small_house.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- Fetch robot model in gazebo -->
    <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />

    <!-- Fetch navigation stack -->
    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
        <arg name="map_file" value="$(arg map_file)"/>
        <arg name="map_keepout_file" value="$(find aws_robomaker_small_house_world)/maps/small_house_keepout_zones_new.yaml"/>
        <arg name="use_keepout" value="true"/>
    </include>

    <!-- SFM Driver-->
    <include file="$(find semantic_frame_mapping)/launch/semantic_frame_mapping.launch">
        <arg name="experiment_config" value="$(arg experiment_config)"/>
    </include>
    <!-- Fetch Action server -->
    <include file="$(find fetch_actions)/launch/main.launch"/>


    <!-- Record a bag -->
    <node if="$(arg record_bag)" 
        pkg="rosbag" 
        type="record" 
        name="rosbag_record_node" 
        args="record -o /home/cuhsailus/Desktop/Research/Spring_22/fetch_sfm_ws/$(arg experiment_title)
            /tf
            /map
            /filter/particles/grasp_bottle
            /filter/particles/grasp_spoon
            /filter/particles/grasp_bowl
            /filter/particles/stir_bowl
            /filter/particles/pour_bowl
            /filter/gauss/grasp_bottle 
            /filter/gauss/grasp_spoon
            /filter/gauss/grasp_bowl
            /filter/gauss/stir_bowl
            /filter/gauss/pour_bowl
            /filter/static_object/bottle
            /filter/static_object/spoon
            /filter/static_object/bowl"
        output="screen"
    />



</launch>
