<launch>
    <arg name="experiment_config" default=""/>
    <arg name="record" default="false"/>
    <arg name="record_bag" default="false"/>
    <node pkg="semantic_frame_mapping" type="SFM.py" name="SFM_client_node" output="screen">
        <param name="sf_dir" value="$(find semantic_frame_mapping)/sf/"/>
        <param name="experiment_config" value="$(arg experiment_config)"/>
        <param name="record" value="$(arg record)"/>
    </node>
    <!-- <node
        pkg="rosbag" 
        type="record" 
        name="rosbag_record_node" 
        args="record -o /home/cuhsailus/Desktop/pour_cracker_boxDEMO
            /tf
            /map
            /filter/particles/bowl
            /filter/particles/cracker_box
            /filter/particles/grasp_cracker_box
            /filter/particles/pour_cereal_bowl
            /YOLO/detections_img
            /head_camera/depth_registered/points
            /planning_scene
            "
        output="log"
    /> -->
</launch>
